@model AddUserToRoleViewModel
@{
    ViewData["Title"] = "حذف گروه کاربر";
}
<h2>حذف گروه کاربر</h2>
<form asp-controller="ManageUser" asp-action="RemoveUserFromRole" method="post">
    <div class="bg-info" asp-validation-summary="ModelOnly"></div>
    <br />

    @if (!Model.UserRoles.Any())
    {
        <h1>هیچ گروهی یافت نشد</h1>
    }
    else
    {
        for (int i = 0; i < Model.UserRoles.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserRoles[i].IsSelected" />
                <label>@Model.UserRoles[i].RoleName</label>

                <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
            </div>
        }
    }
    <input type="hidden" asp-for="@Model.UserId" />
    <button class="btn btn-danger" type="submit">حذف</button>
    <a asp-action="Index" class="btn btn-info">بازگشت به لیست کاربران</a>
</form>