@model CmsProject.DomainClass.Grade.Grade

@{
    ViewData["Title"] = "ایجاد مقطع تحصیلی";
}

<h2>ایجاد</h2>

<h4>مقطع تحصیلی</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefualtPay" class="control-label"></label>
                <input asp-for="DefualtPay" class="form-control" />
                <span asp-validation-for="DefualtPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>