@model ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمزعبور";
}

<h2>بازیابی رمزعبور</h2>
<br />
<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div class="bg-info" asp-validation-summary="ModelOnly"></div>
    <br />

    <label asp-for="NewPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <input hidden="" asp-for="Token" />
    <input hidden="" asp-for="Email" />


    <button type="submit" class="btn btn-info">ارسال</button>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}